{% extends "Redirecting_System/base.html" %}
{% load static %}
{% block title %}
    <title>Failure | Alcheringa</title>
    <link rel="stylesheet" href="{% static "css/failure.css" %}">
    <link rel="stylesheet" href="{% static "register/register.css" %}">
{% endblock title %}

{% block page %}
<div class="container"style="display: flex;flex-direction: column;justify-content: center;">
<div class="line" style="display: flex;justify-content: center;">
<img src="{% static "images/Vector2.svg" %}" alt="failure" class="failure-image" />
{%if message%}
<div class="redline" style="font-family: 'Uncut-Sans'">{{message}}</div>
{%else%}
<div class="redline" style="font-family: 'Uncut-Sans'">You are not Authanticated to access this page</div>
{%endif%}
</div>
<div style="display: flex;justify-content: center;">
    <div class="subtitle" style="font-family: 'Uncut-Sans';color: white;font-size: 1.2rem;">Please check your details again</div>
</div>
<div style="display: flex;justify-content: center;">
    <button type="submit" class="submitbtn bigf" style="background-color: yellow;"><a style="text-decoration: none; color: black;" href="{% url 'home' %}">BUY YOUR CARDS HERE</a></button>
</div>
</div>

{% endblock page %}
{%block script%}
<script>
    window.addEventListener('DOMContentLoaded', ()=>{
        let loader = document.querySelector('#preLoader');
        loader.style.display = 'none';
    })
</script>
{%endblock script%}
